body {
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

#top {
    background-color: rgb(0, 0, 0);
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.top {
    background-image: url('../Images/hero-section-bg.jpg');
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom;

    header {

        img {
            opacity: 1;
            z-index: 1;
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 13%;
        }

        nav {
            position: absolute;
            z-index: 1;
            right: 2rem;
            top: 2rem;

            a {
                text-decoration: none;
                color: white;
                right: 2rem;
            }
        }
    }

    .top__content {
        color: white;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;

        h1 {
            font-size: 4rem;
            opacity: .6;
        }

    }
}

.second {
    background-color: #52723a;
    // height: 100vh;

    div {
        flex-wrap: wrap;

        .plant {
            width: 22%;
            height: 700px;
            padding: 1rem;
            background-color: lightgreen;
            margin: 1rem;

            img {
                width: 100%;
                height: 350px;
                margin-bottom: 1rem;
            }
        }
    }
}