body {
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}


// width & height:
$width-24: 24px;
$height-24: 24px;
$width80: 80%;
$width70: 70%;
$width200px: 200px;
$height-100: 100vh;
$percent-50: 50%; 
$percent-60: 60%
$width-300: 300px;
$height-550: 550px;



// seconds:
$halfSecond: .5s;

// scale:
$scale: 1.1;
// padding & margin:

$padding8-16: 8px 16px;
$padding4-32: 4px 32px;
$padding8-32: 8px 32px;
$padding4-24: 4px 24px;
$padding8-24: 8px 24px;
$eight: 8px;
$twoRem: 2rem;
$oneRem: 1rem;
$threeRem: 3rem;
$fourRem: 4rem;
$sixRem: 6rem;

// colors:
$green1: #25301c;
$green2: #52723a;
$green3: #556d50;
$green4: #7bab57;
$green5: #85ac66;
$green6: #ebffeb;
$white: white;
$black: black;
$darkred: darkred;

.basket {
    background-color: $green3;
    color: $white;
    font-size: $oneRem;

    .basket__home {
        text-decoration: none;
        padding: $padding8-16;
        color: $white;
        transition: $halfSecond;

        &:hover {
            border-bottom: 1px solid $green5;
            color: $green5;

        }
    }

    .basket__a {
        color: $white;
        cursor: context-menu;

        &:hover {
            color: $green5;
        }

        .value {
            right: -24px;
            top: -16px;
            border-radius: 50%;
            background-color: $white;
            color: $black;
            width: $width-24;
            height: $height-24;
        }

    }
}

.basketData {
    background-color: $green3;


    .basketItem {
        width: $width80;
        margin: auto;
        background-color: $green5 !important;
        box-shadow: 10px 10px 10px 0 rgba(40, 40, 40, 0.6);


        .basketItem__content {
            width: $width70;


            .basketItem__content--button {
                text-decoration: none;
                padding: $padding4-32;
                border: none;
                border-radius: $eight;
                transition: $halfSecond;

                &:hover {
                    scale: $scale;
                    background-color: $green1;
                    color: $white;
                }

            }
        }

        .basketItem__img {
            width: $width200px;

        }


    }
}


.pay {
    background-color: $green3;
    padding-left: 9rem;

    .pay__button {
        padding: $padding8-32;
        border: none;
        border-radius: $eight;
        transition: $halfSecond;

        &:hover {
            scale: $scale;
            background-color: $green1;
            color: $white;
        }
    }
}



.top {
    background-image: url('../Images/hero-section-bg.jpg');
    height: $height-100;
    background-size: cover;
    background-position: bottom;

    #top {
        background-color: $black;
        top: 0;
        right: 0;
    }


    .top__header {

        .container__img {
            z-index: 1;
            top: $twoRem;
            left: $twoRem;
            width: 13%;
        }

        .container__nav {
            z-index: 1;
            right: $twoRem;
            top: $twoRem;
            color: $white;

            .container__nav--a {
                text-decoration: none;
                color: $white;
                right: $twoRem;
                padding: $twoRem;
                transition: $halfSecond;

                &:hover {
                    opacity: .7;
                    border-bottom: 1px solid $white;
                    padding-bottom: $eight;
                }
            }

            .shopping-icon {
                opacity: 1 !important;
                padding-right: 1.2rem;
                padding-top: 1.2rem;
                margin-left: $twoRem;

                .shopping-icon--span {
                    right: 0;
                    top: 0;
                    border-radius: 50%;
                    background-color: $white;
                    color: $black;
                    width: $width-24;
                    height: $height-24;
                }

                &:hover {
                    opacity: 1 !important;
                }
            }
        }
    }

    .top__content {
        color: $white;
        z-index: 1;
        top: $percent-50;
        left: $percent-50;
        transform: translate(-50%, -50%);
        width: $percent-60;

        .top__content--h1 {
            font-size: $fourRem;
        }

    }
}

.second {
    background-color: $green3;

    .second__nav {

        .pagination {
            box-shadow: 10px 10px 10px 0 rgba(40, 40, 40, 0.6);

            .second__pagination--li {
                .second__li--a {
                    color: $green1;
                    border: 1px solid;
                    padding: $padding4-24;
                }
            }
        }

    }

    .second__title {
        color: $white;
    }

    #root {
        flex-wrap: wrap;

        .plant {
            width: $width-300;
            height: $height-550;
            background-color: $green6;
            box-shadow: 10px 10px 10px 0 rgba(23, 23, 23, 0.6);
            margin: $oneRem;
            border-radius: $eight;

            .card {
                background-color: $green6;
                border: none;

                .card__content {
                    margin: 0;
                }

                .primary {
                    background-color: $darkred !important;

                    &:hover {
                        scale: 1;
                        opacity: .7;
                        cursor: context-menu;
                    }
                }

                .card__button {
                    border: none;
                    background-color: $green5;
                    color: $white;
                    padding: $eight 0;
                    border-radius: $eight;
                    width: $width80;
                    margin: $oneRem auto 0 auto;
                    transition: $halfSecond;

                    &:hover {
                        scale: $scale;
                        background-color: $green1;
                    }
                }
            }

            .plant__img {
                height: 280px;
            }
        }
    }
}

.third {

    height: $height-100;

    .third__container {

        .container__content {
            width: $width70;

            .content__h2 {
                margin: $twoRem 0;
            }

            .content__button {
                margin: $twoRem 0;
                background-color: $green2;
                text-decoration: none;
                border: none;
                color: $white;
                padding: $padding8-24;
                border-radius: $eight;
                transition: $halfSecond;

                &:hover {
                    scale: $scale;
                }
            }
        }
    }
}


.fourth {
    height: $height-100;

    .fourth__h1 {
        margin-bottom: $twoRem;
        margin-top: $sixRem;
    }

    .fourth__span {
        border-bottom: .5px solid $green2;
        width: 5%;
    }

    .fourth__container {
        width: $width80;
        margin: auto;

        .container__content {
            transition: $halfSecond;

            &:hover {
                scale: $scale;
            }

            .container__content--svg {
                color: $green4;
            }

            .container__content--img {
                border-radius: 50%;
            }

        }
    }
}



.fifth {
    height: $height-100;
    background-image: url('../Images/footer-background.jpg');
    background-size: cover;
    color: $white;
    background-position: bottom;

    #bottom {
        background-color: $black;
        height: 100%;
        top: 0;
        right: 0;
    }


    .fifth__content {
        line-height: 5rem;

        .fifth__content--h1 {
            font-size: $fourRem;
        }

        .fifth__content--button {
            text-decoration: none;
            padding: $padding4-32;
            border: none;
            line-height: 2.5rem;
            border-radius: $eight;
            transition: $halfSecond;

            &:hover {
                scale: $scale;
                background-color: $green5;
            }

        }
    }

}


.sixth {
    width: 90%;
    margin: auto;
    height: 35vh;

    .sixth__div {
        transition: $halfSecond;

        &:hover {
            scale: $scale;

            .icon {
                color: $green4;
                background-color: $white;
                border: 1px solid $green4;
            }
        }

        .icon {
            background-color: $green4;
            color: $white;
            border-radius: 50%;
            padding: $oneRem;
        }
    }
}

.footer {
    background-color: $green1;
    color: $white;
    padding: $fourRem;

    .footer--a {
        text-decoration: none;
        color: $white;
        transition: $halfSecond;

        &:hover {
            opacity: .7;
            border-bottom: 1px solid $white;
            padding-bottom: $eight;
            scale: $scale;
        }
    }

    .footer__content {
        


        .footer__content--input {
            padding: $eight 128px;
        }

        .footer__content--button {
            padding: $padding8-16;
            border: none;
            background-color: $green4;
            transition: $halfSecond;

            &:hover {
                scale: $scale;
                background-color: $green2;
                color: $white;
            }
        }
    }

    .footer_svg {
        padding-top: $threeRem;

        svg {
            margin: $twoRem $twoRem 0 $twoRem;
            opacity: .7;
            transition: $halfSecond;
            padding: $oneRem;

            &:hover {
                scale: 1.6;
                opacity: 1;
            }
        }
    }
}